<template name="about">
    <div class="container">
        <br>
        <h6>
            <b>
                About Us
            </b>
        </h6>

        <p class="font_17">

            A pioneer in our industry, Sula is the first Tanzanian based loyalty marketing company. Our mission is

            to revolutionize Tanzanian student life by providing exclusive discounts and benefits tailored to

            improve and simplify all aspects of our customer’s daily activities.

        </p>

        <p class="font_17">

            Sula creates a mutually beneficial solution for students looking to spend less and save on things they

            love to do, and businesses seeking to increase customer loyalty and ultimately their overall sales!

            Our long-term goal is to be THE trusted brand and source of student advice and discount directory

            Nationwide. We are not simply concerned providing a service for our students, but we believe in

            creating long-term relationships with them for continuous communication and bridging them and to

            become loyal long-term customers with our vendors.

        </p>

        <p class="font_17">

            Sula is a one-stop-shop for an amazing variety of student discounts. Card holders have access to our

            great database of vendors with offers from dining, shopping, travel, movies and attractions and

            other services.
        </p>

        <h6>
            <b>
                Vision
            </b>
        </h6>

        <p class="font_17">

            Our motto is ‘Do more. Discover more. Save.’ We at Sula aim to help thousands of Tanzanian

            students achieve this. We are providing a unique and innovative approach in the development of the

            Tanzanian study experience. The Sula service helps students meet their needs AND take advantage

            of a more affordable social life. With us, student life will be made more affordable while

            simultaneously giving access and benefits to exclusive products and services that are currently

            under-utilised.

        </p>

    </div>
</template>
