<template name="faq">
    <div class="container">
        <br>
        <h6>
            <b>
                FREQUENTLY ASKED QUESTIONS
            </b>
        </h6>

        <p>
            <b>
                What is the Sula Discount Card?
            </b>
        </p>

        <p class="font_17" >
            Sula is the first Tanzanian based loyalty marketing company. Our mission is to revolutionize Tanzanian student

            life by providing exclusive discounts and benefits tailored to improve and simplify all aspects of our customer’s

            daily activities. Any Student that owns a Sula Discount Card can obtain benefits from many of our listed vendors.
        </p>

        <p>
            <b>
                What Discounts will I get with my Sula Discount Card
            </b>
        </p>

        <p class="font_17" >
            <a href="{{pathFor 'students'}}">Click here</a> to see all of our discounts and offers
        </p>

        <p>
            <b>
                Who is eligible for a Sula Discount Card?
            </b>
        </p>

        <p class="font_17" >
            All full time students between the ages of 16 and 24 are entitled to apply for a Sula Discount Card. This includes

            trainee Chartered Accountants, trainee Solicitors etc.

            Also eligible are those currently studying for at least 6 months duration. Full time foreign students who meet the

            above criteria are also entitled to apply for a Student Discount Card whilst in Tanzania.
        </p>

        <p>
            <b>
                Where can I apply for the Card?
            </b>
        </p>

        <p class="font_17" >
            Students can apply for the Sula Discount Card online through this site or by <a href="{{pathFor 'signUp'}}">clicking here</a>.
        </p>

        <p>
            <b>
                I am 16 years old and still in secondary school. Am I eligible to apply?
            </b>
        </p>

        <p class="font_17" >
            Yes. Student aged 16-24 may apply for the Sula Discount Card
        </p>

        <p>
            <b>
                When does the Student Discount Card expire?
            </b>
        </p>

        <p class="font_17" >
            Every September a new card is issued we change the colour of the card every year to ensure there is no fraud in

            our system.  If you purchase the card in September 2015 it will expire in December 2016. The expiry date is

            printed on the card. 
        </p>

        <p>
            <b>
                How do I pay for the card?
            </b>
        </p>

        <p class="font_17" >
            There are 4 possible methods of payment:

            <ul class="styledLists">

                <li>Cash [upon pickup/delivery]</li>

                <li>M-Pesa</li>

                <li>Tigo Pesa</li>

                <li>Airtel Money</li>

            </ul>

            In the cases of M-Pesa, Tigo Pesa and Airtel Money you may make the payment to +255 716 282 328. Send us

            your verification code via email at info@sulastudents.org or call or sms us at +255 716 282 328
        </p>

        <p>
            <b>
                When will I receive my Sula Discount Card?
            </b>
        </p>

        <p class="font_17" >
            Your card will be ready for collection or delivery 10-15 working days after you apply.
        </p>

        <!-- <p>
        What type of discounts do I get on my Student Card
    </p> -->

    <p>
        <b>
            Will I receive a load of Junk Mail when I sign up?
        </b>
    </p>

    <p class="font_17" >
        Sula Student Service values all our student members by keeping you up to date with the latest and exclusive

        discounts available for you. We only send emails related to discounts and other awesome offers and opportunies

        for you.
    </p>

    <p>
        <b>
            What if I lose my card?
        </b>
    </p>

    <p class="font_17" >
        You can order a new card which will cost 10,000/=
    </p>

    <p>
        <b>
            When does my card expire?
        </b>
    </p>

    <p class="font_17" >
        All Sula Discounts Card expire in December each year. The expiry date is printed on each card.
    </p>

    <p>
        <b>
            How do I renew my card after it expires?
        </b>
    </p>

    <p class="font_17" >
        You will receive an auto-renewal email from us asking if you would like to renew your card before it expires.

        Or You can also renew your card online. <!-- Click Here to renew your Sula Discount Card. -->
    </p>

    <p>
        <b>
            How do I find out about New Discounts?
        </b>
    </p>

    <p class="font_17" >
        The Sula Student Service partners with a wide range of new innovative vendors daily. As soon as our partnership is

        confirmed, we then promote them via the website, our social media pages and our monthly news letter. Check your

        email and our website to keep up with the latest deals!
    </p>
</div>
</template>
