<template name="privacyPolicy">
    <div class="container styledLists">

        <h5>
            PRIVACY POLICY
        </h5>

        <p>
            This website is owned by The Sula Student Service.
        </p>

        <b class="red-text">Important:</b> By submitting personal data to us and/or by using our website you give your consent that all personal

        data that you submit may be processed by us in the manner and for the purposes listed and described below.



        <p>
            <b>
                Privacy Policy
            </b>
        </p>

        <p>
            Sula Co. (“Sula Student Service”) respects the privacy of our users and has developed this Privacy Policy to

            demonstrate its commitment to protecting your privacy. This Privacy Policy is intended to describe for you, as an

            individual who is a user of Sula products and services, or otherwise provide us with information through various

            means: the information we collect, how that information may be used, with whom it may be shared, and your

            choices about such uses and disclosures.
        </p>

        <p>
            We encourage you to read this Privacy Policy carefully when using our website or services or transacting

            business with us. By using our website, you are accepting the practices described in this Privacy Policy. If you

            have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on

            how to contact us.
        </p>


        <p>
            <b>
                INFORMATION WE COLLECT ABOUT YOU
            </b>
        </p>

        <p>
            We are committed to maintaining the privacy and confidentiality of the data provided by you to us. The term

            ‘personal data’ in this policy means data which relates to a living individual who can be identified; this data and

            other information which may be in our possession, or is likely to come into our possession.
        </p>

        <p>
            In General we may collect personal data that can identify you such as your name and email address and other

            information that does not identify you.
        </p>

        <p>
            <ul class="styledLists">

                <li type="disk"> Information you provide. We may collect and store any personal data you enter on our website or

                    provide to us in some other manner. This includes identifying information, such as your name, address, e-

                    mail address, birth data and telephone number, and, if you transact business with us, financial information

                    such as your payment method. We also may request information about your interests and activities, your

                    gender and age, other demographic information and your Sula card number.</li>

                    <li type="disk"> Information you provide from other sources. We may also periodically obtain both personal and non-

                        personal data about you from advertising companies, and ad networks business partners, contractors and

                        other third parties and add it to our account information or other information we have collected. Examples

                        of information that we may receive include: updated delivery and address information, purchase history,

                        and additional demographic information.</li>
                    </ul>

                    <p>
                        <b>
                            USE OF PERSONAL DATA
                        </b>
                    </p>

                    We will use your personal data to fulfil your instructions and requirements and we will ask only for data that is

                    adequate, relevant and not excessive for those purposes. Where we send you information for any purpose, it

                    may be sent by email, text message or post. When we ask you for personal data it may be for any of the following

                    purposes:

                    <ul class="styledLists">

                        <li type="disk"> To contact you to inform you of our services or events</li>

                        <li type="disk"> To send you regular updates on issues we think will be of interest to you</li>

                        <li type="disk"> To send you requested information on our people and service</li>

                        <li type="disk"> To use your personal data for marketing purposes and market research.</li>

                    </ul>

                    <p>
                        <b>
                            UNSUBSCRIBE
                        </b>
                    </p>

                    We hope you will be pleased with our information and services. However, if you do not wish to receive emails

                    from us and want to be removed from our electronic mailing list, please email us at the address given below with

                    “email unsubscribe” in the subject heading.

                    <p>
                        <b>
                            ANONYMOUS DATA COLLECTION THROUGH THIS WEBSITE
                        </b>
                    </p>

                    In addition to the information we collect as described above, we use technology to collect anonymous information

                    about the use of our website. For example, our web server automatically logs which pages of our website visitors

                    view, their IP addresses and which web browsers they use. This technology does not personally identify you - it

                    simply enables us to compile statistics about our visitors and their use of our website.

                    [Our website contains hyperlinks to other pages on our website. We may use technology to track how often these

                    links are used and which pages on our website our visitors choose to view. Again this technology does not

                    identify you personally - it simply enables us to compile statistics about the use of these hyperlinks.]

                    <p>
                        <b>
                            HOW WE PROTECT YOUR PERSONAL INFORMATION
                        </b>
                    </p>

                    We take appropriate measures to help safeguard you personal information from unauthorised access and

                    disclosure. For example only authorised employees are permitted to access personal information, and they may

                    do so only for permitted business functions.

                    We want you to feel confident using our website to transact business or purchase our loyalty products. However

                    no system can be completely secure. Therefore, although we take steps to secure your information, we do not

                    promise, and you should not expect that your personal information, searches, or other communications will

                    always remain secure.

                    Users should also take care with how they handle and disclose their personal information and should avoid

                    sending personal information through insecure email.

                    <p>
                        <b>
                            DISCLOSURE OF YOUR PERSONAL DATA
                        </b>
                    </p>

                    We do not share, sell or distribute your personal data with unrelated third parties, except as otherwise provided

                    for in this privacy policy and under these limited circumstances:
                    <ul class="styledLists">

                        <li type="disk"> In order to provide you with the information or services you have requested, personal data may occasionally be

                            transferred or shared with third parties, who act for or with us, for further processing in accordance with the

                            purposes for which the data was originally collected or for the purpose to which you have consented.</li>

                            <li type="disk"> We may share your personal information with our authorized service providers that perform certain services on

                                our behalf. These services may include fulfilling orders, processing credit card payments, delivering packages,

                                providing customer service and marketing assistance, performing business and sales analysis, supporting our

                                website functionality, and supporting contests, sweepstakes, surveys and other features offered through our

                                website. These service providers may have access to personal information needed to perform their functions but

                                are not permitted to share or use such information for any other purposes.</li>

                                <li type="disk"> We may share your personal data with our partner vendors to offer you those products, services, promotions,

                                    contests and/or sweepstakes. When you elect to partake in a particular vendor offer or program, you authorise us

                                    to provide your email address and other personal data to that vendor.</li>

                                    <li type="disk"> We may share, transfer or disclose the information in our databases and server logs to comply with a legal

                                        requirement, to protect your vital interests, to protect the security or integrity of our databases or this website, to

                                        take precautions against legal liability, or in the event of a joint venture, collaboration, financing, sale, merger,

                                        reorganisation, change of legal form, dissolution or similar event.</li>

                                        <li type="disk"> Where appropriate, before disclosing personal data to a third party, we contractually require the third party to take

                                            adequate precautions to protect that personal data and to comply with applicable law.</li>

                                        </ul>
                                    </p>

                                    <p>
                                        <b>
                                            DATA ACCESS AND CORRECTIONS
                                        </b>
                                    </p>

                                    <p>
                                        Upon receipt of your written request and enough information to permit us to identify your personal data, we will

                                        disclose to you the personal data we hold about you, for which we may make a charge up to the maximum as

                                        allowed by applicable law. We will also correct, amend or delete and personal data that is inaccurate and notify

                                        ant third party recipients of the necessary changes.
                                    </p>

                                    <p>
                                        <b>
                                            LINKS TO OTHER WEBSITES
                                        </b>
                                    </p>

                                    <p>
                                        This website may contain hyperlinks to websites that do not operate by This Privacy Policy. These hyperlinks are

                                        provided for your reference and convenience only. These third-party websites may independently solicit and

                                        collect personal data from you and in some instances, provided by us with information about your activities on

                                        those websites. We urge that you thoroughly read the privacy statements of all third-party websites you visit.
                                    </p>

                                    <p>
                                        <b>
                                            ONLINE APPLICATION FORM
                                        </b>
                                    </p>

                                    <p>
                                        This website offers you the possibility to apply online for a discount card ( in case of students) and to become a

                                        partner vendor (for business and other establishments). To do so you will need to fill in an online application form

                                        to provide us with personal data (for students) and other general information relevant to allow us to supply

                                        adequate services to you. This is necessary for the purposes of contacting you for any queries, references and

                                        future communication.
                                    </p>

                                    <p>
                                        <b>
                                            GOVERNING LAW
                                        </b>
                                    </p>

                                    <p>
                                        This privacy policy forms part of our website terms of use
                                    </p>

                                    <p>
                                        <b>
                                            No Rights of Third Parties
                                        </b>
                                    </p>

                                    <p>
                                        <b>
                                            This Privacy Policy does not create rights enforceable by third parties.
                                        </b>
                                    </p>

                                    <p>
                                        <b>
                                            Changes to This Privacy Policy
                                        </b>
                                    </p>

                                    <p>
                                        We are continually improving our methods of communication and adding new features to this website so if we

                                        change our data protection practices notification will be posted to you on this page so we encourage you to check

                                        this page frequently.
                                    </p>

                                    <p>
                                        <b>
                                            Contact us
                                        </b>
                                    </p>

                                    <p>
                                        We welcome comments about this privacy policy. If you have any questions about this Privacy Policy or our

                                        information-handling practices. If you would like to request information about our disclosure of personal

                                        information to third parties for their direct marketing purposes or any part of our service, you may contact us by

                                        emailing <a href="mailto:info@sulastudents.org">email us</a>
                                    </p>
                                </div>

                            </template>
