<template name="termsOfUse">
    <div class="container">
        <br>
        <h6>
            <b>
                TERMS & CONDITIONS
            </b>
        </h6>

        <p>
            <b>
                CARD TERMS & CONDITIONS
            </b>
        </p>

        <p>
            The Sula Discount Card can be purchased at a fixed price of 15000/=
        </p>

        <p>
            Renewal of the card, upon expiration costs 10,000/=
        </p>

        <p>
            The Discounts / Deals cannot be used in conjunction with any other promotion or discount a company is already

            running.
        </p>

        <p>
            You must present you Sula Discount Card at our partner vendor’s physical locations in order to obtain a discount

            or benefit.
        </p>

        <p>
            If requested by a vendor, a valid student ID card must be shown along with the Sula Discount Card as proof that

            you're a current student.
        </p>

        <p>
            Listed vendors reserve the right to update or withdraw any offer at any time.
        </p>

        <p>The Sula Discount Card has a no refund policy. Any errors in Data entry on a student’s application will require

        them to reapply for a new card.</p>

        <p>Lost or stolen cards cannot be replaced and must be re-purchased.</p>

        <p>We cannot be held responsible for companies not informing us of discounts or promotions similar to those listed

        on this website yet available without the card.</p>

        <p>
            <b>
                Eligibility
            </b>
        </p>

        <p>
            The Sula Discount Card is only available to 16-24 year-old students enrolled in full time education. Every

            September we issue a new card, the colour change is implemented in order to ensure no fraud in our system. If

            you purchase the card in September 2016 it will expire in December 2017.  The expiry date is pre-printed on the

            card.
        </p>

        <p>
            <b>
                Delivery
            </b>
        </p>

        <p>
            Please allow up to 10-15 working days for your card to be delivered. <br>

            Students may either collect their Sula Student Discount Card from our office or have one of our representatives

            deliver it to their school or university for an extra charge of 5,000/=
        </p>

        <p>
            <b>
                Website Terms
            </b>
        </p>

        <p>
            <b>SULA STUDENT SERVICE AND ITS LOGO ARE OUR TRADE MARKS AND DESIGNS.</b> All other trademarks on

            this website are trademarks of their respective proprietors.
        </p>

        <p>
            <b>PRIVACY POLICY AND CONSENT:</b> We are committed to protecting your privacy and by agreeing to these terms

            of use you acknowledge that you have read and understood the terms of our <a href="{{pathFor 'privacyPolicy'}}">privacy policy</a> and that you agree

            with it.
        </p>

        <p>
            <b>
                Governing law and jurisdiction
            </b>
        </p>

        <p>
            Your use of this website will be governed by and constructed in accordance with the laws of Tanzania and any

            dispute will be referred to the Tanzanian Courts.
        </p>
    </div>
</template>
