<template name="home">
	<div id="startPage" class="row">
		<div class="container">
			<div class="logo" align="center">
				<img src="resources/sla.png" alt="">
				<h2>Do More. Discover More.</h2>
			</div>
			<div id="user" class="">
				<div class="col s12 m5">
					<a href="{{pathFor 'vendors'}}" class="thumbnail start-student">
		    			<div class="overlay" align="center">
		    				<h3 id="" class="user-type">Vendors</h3>
						</div>
		    		</a>
				</div>
				<div class="col s12 m5">
					<a href="{{pathFor 'students'}}" class="thumbnail start-vendor">
		    			<div class="overlay" align="center">
		    				<h3 id="" class="user-type">Students</h3>
						</div>
		    		</a>

				</div>
			</div>
		</div>
	</div>
</template>
