footer.page-footer .footer-copyright {
    color: black;
    background-color: rgba(0, 0, 0, 0);

}

footer {
    .zmdi {
        color: #0DC0FF;
    }

    .input-field {
        color: black;
    }

    #footer-logo {
        width: 100px
    }
}
