#logo {
    width: 65px;
}
#sideNavLogo img {
    width: 200px;
    margin-top: 5px;
}

@media (max-width: 690px) {
    #logo {
        width: 55px;
    }
}

// #navbar-fixed {
//     #menu-items {
//         // margin-left: 200px;
//         li {
//             margin-left: 200px;
//             margin-right: 20px;
//         }
//     }
// }

nav ul li {
    margin-left:25px;
}
