<template name="offer">
    <!-- <div class="container"> -->
        <!-- <div class="informationCtainer">
            {{> information}}
        </div> -->
        <!-- <br> -->

        <div class="container" id="offersContainer">

        <div class="row">
            <div id="offers" class="col m9">
                {{#if Template.subscriptionsReady}}
                <div>
                    {{#if isDEALS}}
                    <h5 id="hottestDealsTitle">
                        Hottest Deals!
                    </h5>
                    {{/if}}
                </div>

                {{#each offer}}
                    {{> thumb}}
                {{/each}}

                <!-- {{#if Template.subscriptionsReady}} -->
                    {{#if hasMoreOffers}}
                    <div class="col s12" align="center">
                        <a class="load-more btn" href="#">More Discounts</a>
                    </div>
                    {{/if}}
                {{else}}
                    <div class="loading">
                        {{>spinner}}
                    </div>
                {{/if}}
            </div>

            <div id="sideBannerContainer" class="col m3 hide-on-small-only">
                {{> sideBanner}}
            </div>

        </div>

    </div>
</template>
