<template name="offer">
    <div class="container">
        <div class="hide-on-small-only">
            {{> information}}
        </div>
        <br>

        <div class="row">
            <div id="offers" class="col m9">

                {{#each offer}}
                    {{> thumb}}
                {{/each}}

                {{#if Template.subscriptionsReady}}
                    {{#if hasMoreOffers}}
                    <div class="col s12" align="center">
                        <a class="load-more btn" href="#">More Discounts</a>
                    </div>
                    {{/if}}
                {{else}}
                    <div class="loading">
                        {{>spinner}}
                    </div>
                {{/if}}
            </div>

            <div id="sideBannerContainer" class="col m3 hide-on-small-only">
                {{> sideBanner}}
            </div>

        </div>

    </div>
</template>
