<template name="thumb">
	<div id="thumb">
		<div class="col s12 m6 l3">
			<div class="card hoverable">
				<div class="card-image">
					<img class="activator" src="{{image}}">
				</div>
				<!-- <div class="card-content"> -->
				<!-- <span class="card-title activator grey-text text-darken-4 truncate"><i class="zmdi zmdi-more-vert right"></i></span> -->
				<!-- <span class="card-title activator grey-text text-darken-4 truncate">{{title}}<i class="zmdi zmdi-more-vert right"></i></span> -->
				<!-- <p><a href="#">This is a link</a></p> -->
				<!-- </div> -->
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{title}}<i class="zmdi zmdi-close right"></i></span>
					<p>{{description}}</p>
				</div>
			</div>
		</div>
	</div>
</template>
